/* --------------------------------------------------*/
/* ------------------Importing fonts---------------- */
/* --------------------------------------------------*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Lato:400,400i,700|Titillium+Web:700|Source+Code+Pro:900');
// Define fonts for body and headers
$headers-font: "Lato", "sans-serif";
$sub-font: 'Titillium Web', "sans-serif";
$body-font: 'Muli', "sans-serif";
$home-header-font: 'Source Code Pro', "monospace";
