/* --------------------------------------------------*/
/* ---------Declaring styles for about page----------*/
/* --------------------------------------------------*/

.about-container{
  text-align: center;
  h2{
    margin-top: 3vw;
  }
  p{
    margin-top:1vw;
  }
}

#about-intro{
  padding: 0 3vw;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  li{
    margin-top: 3px;
  }
}
