/* --------------------------------------------------*/
/* ---------Declaring styles for home page-----------*/
/* --------------------------------------------------*/

// sticky background image

#background{
  background:
    linear-gradient(
      $black-half,
      $black-half
    ),
    url(background.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// scrollable main container
#main-container{
  top: 50px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background-color: $red;
}

#sub-container{
  width: 100%;
  padding: 3vw 0;
  background-color: $blue;
}

#title-container{
  background-color: white;
}

@media only screen and (min-width: 700px) {
  #title-container{
    height: 30vw;
    width: 45vw;
    // padding: 2.5vw;
    margin-left: 3vw;
    // margin-top: 3vw;
  }
}

@media only screen and (max-width: 700px) {
  #title-container{
    height: 50vw;
    width: 90vw;
    padding: 5%;
    margin: 3vw auto ;
  }
}
