/* --------------------------------------------------*/
/* ---------Declaring styles for home page-----------*/
/* --------------------------------------------------*/

// sticky background image
#background{
  background:
    linear-gradient(
      $black-half,
      $black-half
    ),
    url(background.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 3vw;
  min-height: 100vh;
}
#flex-container{
  display: flex;
  justify-content: space-around;
  margin: 3vw;
}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
  h3{
    text-align: center;
    color: $black;
    margin: 3vw 0;
  }
}
.container.two{
  position: relative;
  background-color: white;
}
#title-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 4fr 4fr 3fr 1fr;
  // background-color: white;
  h1{
    font-family: $home-header-font;
    color: $black;
    text-align: center;
  }
}
.grid-box.hi{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-box.im{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-box.first-name{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-box.last-name{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
}
.grid-box.description{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid-box{
  background-color: $white;
  margin: 3px;
  h1{
    margin: 0;
  }
}
.flex-item{
  text-align: center;
  color: $black;
  min-width: 15vw;
  h5{
    margin: 2vw 0;
  }
}

#home-logo-image{
  position: absolute;
}

@media only screen and (min-width: 700px) {
  #title-container{
    height: 30vw;
    width: 55vw;
  }
  #home-logo-image{
    top: -13vw;
    right: 4vw;
    width: 30%;
  }
  .container.two{
    margin-top: 6vw;
  }
  .grid-box.hi{
    h1{
    font-size: 7vw;
    }
  }
  .grid-box.im{
    h1{
    font-size: 7vw;
    }
  }
  .grid-box.first-name{
    h1{
    font-size: 15vw;
    }
  }
  .grid-box.last-name{
    h1{
    font-size: 7vw;
    }
  }
  .grid-box.description{
    h1{
    font-size: 2vw;
    }
  }
}

@media only screen and (max-width: 700px) {
  #title-container{
    height: 50vw;
    width: 100%;
  }
  #home-logo-image{
    top: -26vw;
    right: 18vw;
    width: 60%;
  }
  .container.two{
    margin-top: 30vw;
  }
  .grid-box.hi{
    h1{
    font-size: 14vw;
    }
  }
  .grid-box.im{
    h1{
    font-size: 14vw;
    }
  }
  .grid-box.first-name{
    h1{
    font-size: 25vw;
    }
  }
  .grid-box.last-name{
    h1{
    font-size: 10vw;
    }
  }
  .grid-box.description{
    h1{
    font-size: 4vw;
    }
  }
}


