/* --------------------------------------------------*/
/* ---------Declaring styles for home page-----------*/
/* --------------------------------------------------*/

// sticky background image
#background{
  background:
    linear-gradient(
      $black-half,
      $black-half
    ),
    url(background.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 3vw;
  min-height: 100vh;
}

#flex-container{
  display: flex;
  justify-content: space-around;
  margin: 3vw;
  // background-color: $green;
}

.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.container{
  h3{
    text-align: center;
    color: $black;
    margin: 3vw 0;
  }
}

.container.two{
  background-color: white;
}

#title-container{
  background-color: white;
}

.flex-item{
  text-align: center;
  color: $black;
  // background-color: $green;
  min-width: 15vw;
  h5{
    margin: 2vw 0;
  }
}

@media only screen and (min-width: 700px) {
  #title-container{
    height: 30vw;
    width: 45vw;
  }
  .container.two{
    margin-top: 6vw;
  }
}

@media only screen and (max-width: 700px) {
  #title-container{
    height: 50vw;
    width: 100%;
  }
  .container.two{
    margin-top: 30vw;
  }
}


