/* ---------------------------------------------------------*/
/* ---------Declaring styles for projects show page---------*/
/* ---------------------------------------------------------*/

.left-and-right-buttons {
  display: flex;
  justify-content: space-between;
}

.show-button {
  width: 30px;
  max-height: 30%;
  background-color: $light-gray;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.right-arrow {
  position: absolute;
  top: 50%;
}

.left-arrow {
  position: absolute;
  top: 50%;
}

.show-back-button{
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: $light-gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.show-back-button:hover{
  height: 50px;
  background-color: $gray;
}

.previous-button {
  width: 30px;
  // height: 100%;
  background-color: $light-gray;
}

.previous-button:hover{
  width: 50px;
  background-color: $gray;
}


.next-button {
  text-align: right;
}
.next-button:hover{
  width: 50px;
  background-color: $gray;
}

