/* ---------------------------------------------------------*/
/* ---------Declaring styles for projects show page---------*/
/* ---------------------------------------------------------*/

.left-and-right-buttons {
  display: flex;
  justify-content: space-between;
}

.show-button {
  min-width: 5%;
  text-align: center;
  max-height: 30%;
  background-color: $gray;
  position: relative;
}

.right-arrow {
  position: absolute;
  top: 50%;
}

.left-arrow {
  position: absolute;
  top: 50%;
}

.previous-button {

}

.next-button {

}

