<div class="home-container home-footer">
  <div id="footer-text">
    <h6>Made with <i class="fas fa-heart"></i> by Roan Mertens</h6>
    <h6>
      <a href="https://github.com/RoanMertens" target="_blank"><i class="fab fa-github-square"></i> GitHub</a>
       -
       <a href="https://www.linkedin.com/in/roan-mertens-73b229129" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
        -
        <a href="https://codepen.io/roanmertens" target="_blank"><i class="fab fa-codepen"></i> CodePen</a></h6>
  </div>
</div>
