<div class="modal" style="display: block;">
  <div class="about-container">
    <div class="text-item">
      <div class="title">
        <h2>About Me</h2>
      </div>
      <div id="about-intro">
        <p>I am a Full-Stack web developer with a background in art, education and filmmaking. I specialise in Ruby on Rails and JavaScript. I finished the full-stack web development course at Le Wagon and am currently working at Odicci as a junior developer and at the Le Wagon bootcamp as a Teaching Assistant.</p>
      </div>
    </div>

    <div class="text-item">
      <h2>Skills</h2>
      <div class="flex-container">
        <ul>
          <li>ruby</li>
          <li>ruby on rails</li>
          <li>html</li>
          <li>css</li>
          <li>javascript</li>
          <li>sql</li>
          <li>active record</li>
          <li>heroku</li>
        </ul>
        <ul>
          <li>ajax</li>
          <li>sinatra</li>
          <li>middleman</li>
          <li>mvc design pattern</li>
          <li>oop</li>
          <li>rspec</li>
          <li>git -github (version controll)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

