
<!-- floating background -->
<div id="background">
  <div class="container one">
    <div id="title-container">
      <%#= image_tag "logo_color.png", alt: "Roan Mertens logo", id:"home-logo-image" %>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="990px" height="580px" viewBox="0 0  990 580" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="990" height="580" style="fill: none; stroke: none;"/><polyline style="fill: rgb(255, 255, 255); stroke-width: 1px;" id="e1_polyline" points="394 446 394 182 573 181 573 260 501 261 573 388 694 182 726 182 728 445"/></svg>
  <div class="container two">
    <h3>Why are you here?</h3>
    <div id="flex-container">
      <div class="flex-item">
        <h5>I need a website!</h5>
        <%=link_to(about_path, :class => "button bg") do %>
        <i class="fas fa-code"></i>
        <p>projects</p>
        <% end %>
      </div>
      <div class="flex-item">
        <h5>I am here to recruit you!</h5>
        <%= link_to(projects_path, :class => "button bg") do %>
          <i class="fas fa-search"></i>
          <p>about</p>
        <% end %>
      </div>
      <div class="flex-item">
        <h5>I want to be your friend!</h5>
        <%= link_to(contact_path, :class => "button bg") do %>
          <i class="fas fa-plus"></i>
          <p>contact</p>
        <% end %>
      </div>
    </div>
  </div>
<!--   <div id="main-container">
  </div> -->
</div>



