
<!-- floating background -->
<div id="background">
  <div id="main-container">
    <div id="sub-container">
      <div id="title-container">
        <%#= image_tag "logo_color.png", alt: "Roan Mertens logo", id:"home-logo-image" %>
      </div>

    </div>
  </div>
</div>







<!-- buttons -->
<!-- <p>Why are you here?</p> -->
  <!-- <p>I need a website!</p> -->
<%#=link_to(about_path, :class => "button bg") do %>
  <!-- <i class="fas fa-code"></i> -->
  <!-- <p>projects</p> -->
<%# end %>
  <!-- <p>I am here to recruit you!</p> -->
<%#= link_to(projects_path, :class => "button bg") do %>
  <!-- <i class="fas fa-search"></i> -->
  <!-- <p>about</p> -->
<%# end %>
  <!-- <p>I want to be your friend!</p> -->
<%#= link_to(contact_path, :class => "button bg") do %>
  <!-- <i class="fas fa-plus"></i> -->
  <!-- <p>contact</p> -->
<%# end %>
