/* --------------------------------------------------*/
/* -------------Declaring footer styles--------------*/
/* --------------------------------------------------*/
.banner {
  color: white;
  text-align: center;
  height: 50%;
  background-size: cover;
}
