/* --------------------------------------------------*/
/* -------------Declaring footer styles--------------*/
/* --------------------------------------------------*/
#footer-text{
  padding: 2vw 0;
  margin-top: 3px;
  border: solid $white 3px;
  background: $white-op-one;
  display: flex;
  justify-content: space-around;
  h6{
    color: white;
  }
  a{
    color: $white;
    text-decoration: none;
  }
  a:hover{
    color: $black;
  }
}

@media only screen and (min-width: 700px) {
  #footer-text{
    flex-direction: row;
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  #footer-text{
    flex-direction: column;
    text-align: center;

  }
}

.fa-heart{
  color: $red;
}
